/*
Theme Name: WP Bootstrap Starter
Theme URI: https://afterimagedesigns.com/wp-bootstrap-starter/
Author: Afterimage Designs
Author URI: https://afterimagedesigns.com/
Description:  The best WordPress starter theme based on the most powerful frameworks in the world: "_s" (by Automattic, the main people behind WordPress development), Twitter Bootstrap (the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web) and Font Awesome (or Fontawesome, a full suite of 675+ pictographic icons for easy scalable vector graphics on websites). This theme, like WordPress, is licensed under the GPL. You can use this theme as base for your next WordPress theme project and you are allowed to remove the link at the footer or do whatever you want. Your feedback on how we can continuously improve this WordPress Starter Theme Bootstrap will be highly appreciated. Page templates includes Right-sidebar (default page template), Left-Sidebar, Full-Width, Blank with container, Blank without container Page. Other features - Currently using Bootstrap v4.0.0 , Widgetized footer area, WooCommerce ready, Compatible with Contact Form 7, Compatible with Visual Composer, Compatible with Elementor Page Builder. This theme will be an active project which we will update from time to time. Check this page regularly for the updates.
Version: 3.0.9
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: wp-bootstrap-starter
Tags: blog, custom-menu, featured-images, threaded-comments, translation-ready, right-sidebar, custom-background, e-commerce, theme-options, sticky-post, full-width-template
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Woocommerce
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
body {
  margin: 0;
  -webkit-font-smoothing: auto;

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

.row{
width: 100%;
margin: 0px;
}

.topborder{
	border-top: 3px solid #516b82;
	margin-top:2px;
	border-collapse:collapse;
}
.headericon{
	padding: 0px 6px;
}

#headerIconSecondRow{
	padding-left:80px;
}

.footericon{
	padding:0;
	padding-left:20px;
}

.footericon img{
  object-fit: contain;
}

.IEoverflow{
  overflow-x: hidden;
  -ms-overflow-x: hidden;
}

.nomargin{
	margin-right: 0px;
}

.novostiPostUL{
	display:table;
	padding:0px;
	margin-left:0px;
}

.novostiPostLI{
	display:table-cell;
	padding:0 5px;
	margin: 0px;
}

.novostiPost{
	margin-bottom:50px;
}

.novostiImage{
	min-height: 199px;
	min-width: 299px;
	max-height: 230px;
	max-width: 350px;

	}

.novostiContent{
	position: relative;
	background-color:white;
	bottom: 25px;
	font-size:13px;
	padding-top: 10px;
	padding-left: 7px;
	color:#535355;
}

.novosti-vise{
	position: absolute;
    bottom: 6px;
    right: 10px;
}

.page-novosti backgroundBodyImg{

}

.proba-novost{
	font-size:13px;
}

.more-link{

}

.obrisat-vise{
	display:none;
}

.contentShadow{

}

.contentHeight{

}

.projektBottomContent{
	margin-top:35px;
	margin-bottom:20px;
	flex-wrap: wrap;
	padding-left: 0;
	padding-right: 0;
}

.pdf-preuzimanje{
	margin-bottom:20px;
}

.pdf-sporedni{
	padding-left: 35px;
}

.slika-preuzimanje{
	margin-bottom:40px;
}

.col-12.d-flex.justify-content-center.projektBottomContent a {
    color: black;
    text-decoration: none;
}

.novostiContent strong{
	font-weight:normal;
}

.novostiContent h4{
	margin: 0;
	margin-bottom:7px;
}

.novostiContent p{
	margin: 0;
}

.press-stupac-naslov{
	font-size:28px;
}

.linkTitle{
	color:#535355;
}

.linkTitle:hover{
	text-decoration: none;
	color:#535355;
}

.ispod-slidera-naslov{
	font-size:25px;
}

.ispod-slidera-naslov a:hover{
	text-decoration: none;
}

.clanakNavBorder{
	border-top:2px solid #e04876;
	border-bottom:2px solid #e04876;
	padding-left: 0;
	padding-right: 0;
}

.pressPadding{
	padding-left:10px;
	padding-right:10px;
}

.pressPadding h4{
	margin:0;
	margin-top:10px;
}

.glyphiconPost{
	/*position: absolute;
	bottom:0;
	right:0;
	*/
	float:right;
	padding-right:10px;
}

.novost-content{
	margin-left:15px;
	margin-right:15px;
	font-size:13px;
	box-shadow: 2px 2px 3px #cecece;
	padding-bottom: 20px;
	max-width: 310px;
}

.objavljenoPost{
	border-top: 2px solid ;
	border-color: #e04876;
	color: #717172;
	padding-left: 5px;
	padding-right: 70px;
	padding-top: 3px;
}

.projektLink{
	color:black;
	padding-left: 10px;
}

.pressDate{
	display:block;
	color: #717172;
	font-size:10.5px;
	margin-bottom: 5px;
}

.pressMargin{
	margin-bottom:30px;
}

#pressNaslov{
	padding-left:20px;
	font-size: 25px;
}

#single-post-contentID{
	margin-top:0;
}

.artikal-razmak{
	margin-bottom:90px;
}

.post-navigation .nav-previous a, .post-navigation .nav-next a{
	border: 0 !important;
	border-radius:0 !important;
	padding:0 !important;
	color:#535355;
	font-size:17px;
}

.post-navigation .nav-previous a::before{
	display:none;
}

.post-navigation .nav-next a::after{
	display:none;
}

.strelice{
	padding:0px;
	padding-top:10px;
	color:black;

}

.strelice:hover{
	color:black;
	text-decoration:none;

}


.strelice img{
	padding-left:6px;
	padding-right:6px;
}

.navigacija-red{
	margin-bottom:10px;
}

.navigation.post-navigation{
	padding-top:0 !important;
}

.container-fluid{
	padding-right:0px;
}
.footerpadding{
	padding-right:0px;
	padding-left:0px;
	padding-bottom:10px;
}

.backgroundBodyImg{
	background-repeat: no-repeat;
	/*position: absolute;
	bottom: 0px;
	left: 0px;
	z-index:-1;
	max-height:55%;
	height: 50vw; */
	background-position: 0 100%;
    }
}

.backgroundBody{
	position:relative;
}

#contentID{
	margin-top:50px;
	min-height:460px;
	padding-right:30px;
}

#novosti{
	background-color:#516b82;
	height:100px;
	padding:0;
}
#novosti h2{
	color:white;
	font-size: 32px;
	display:inline;

}

#novosti img{
	padding-top:7px;
	margin-left:20px;
}

#ispodslidera{
	padding-right:60px;
}

#ispodslidera a{
	color:white;
}

.novostiPageList{
	padding-bottom:0px;
}

.postPress hr,.borderPress{

	border-width: 1px;
	border-color: #e04876;
}

.borderPress1{
	border-width: 2px;
	border-color: #e04876;
	margin-bottom:0px;
    margin-top:16px;
	z-index:-2;
	position:relative;
}

.hrSingle{
	margin-bottom: 25px;
	margin-top: 5px;
}

.singleImg{
	margin: 0 auto;
	margin-bottom:3px;
	max-width: 650px;
}

.foto-auto{
	float:right;
}

.projektHRpadding{
	margin-top:70px;
}

.tekstNaslovna{
	font-size:20.7px;
	padding-left: 30px;
}

.foto-autor{
	float:right;
}

.paginator {
    display: inline-block;
}

.paginator a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.paginator a.active {
    background-color: #4CAF50;
    color: white;
}

.paginatorTocke{
  color: black;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
}

.paginator a:hover:not(.active) {
    background-color: #ddd;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #516b82;
  background-color: #516b82!important;
  float:right;
  margin-right:15px;
}

button.custom-toggler:hover{
  background-color: #516b82!important;
}

.slick-next{
	right:20px!important;
}

.slick-prev{
	left:20px!important;
	z-index: 1;
}

.slick-prev::before{
/*	content: url(https://praksa.braco.does-it.net/damir/abecedapismenosti/wp-content/uploads/2018/03/arrow-left-slider.png); */
}

.slick-next:before{
/*	content: url(https://praksa.braco.does-it.net/damir/abecedapismenosti/wp-content/uploads/2018/03/arrow-right-slider.png); */
}

.slick-prev, .slick-next{
  width:30px;
  height: auto;
}

.slider-tekst{
	position:absolute;
	top:115px;
	margin-left:170px;
	max-width:250px;
	color:white;
	font-size:23px;
}

.slider-dugme{
	position:absoulte;
}

.slider-button{
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #e04876;
  padding: 12px 20px 10px 20px;
  text-decoration: none;
  border:0;
}

.slider-button:hover{
  color:white;
  text-decoration: none;
}

.abeceda-logo{
  z-index: 10;
}

.clanak-padding{
  padding-left: 0;
  padding-right: 0;
}

.embed-container {
		position: relative;
		padding-bottom: 42.25%;
		overflow: hidden;
		max-width: 100%;
		height: auto;
	}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: 640px;
    max-height: 390px;
}

.h4-inline{
	display:inline;
}

.play-btn{
	padding-right:10px;
}

.pagination-row{
	display:flex;
	justify-content:center;
}

.pagination{
	padding-top: 5px;
    margin-bottom: 30px;
}

.page-numbers{
	color:grey;
	padding: 0 4px;
	font-size: 14px;
}

.current{
	padding:0 7px;
	color:black;
}

.linkovi-iznad-footera{
	margin: 15px 10px;
}

.linkovi-iznad-footera a {
	color: black;
	font-weight: bold;
}

.ikona-banner{
	padding-left:0;
}


.prava{
	text-align:center;
}

.prava p{
	margin-bottom:5px;
}

.prava a{
	color: black;
    text-decoration: none;
}

.prava a:hover{
	text-decoration: none;
	color:black;
}

.prava span{
	flex-wrap:nowrap;
	display:inline-flex;
}

.naslov-h1{
	margin-top:0;
}

.navigacija-clanak{
	padding:0;
}

.defaultni{
	padding-left:45px;
}

a.strelice img {
	padding: 0;
}

.post-navigation .nav-previous{
	padding-left: 5px;
	padding-right:10px;
}
.post-navigation .nav-next{
	padding-right: 5px;
	padding-left:10px;
}

/*@media only screen and (max-width: 360px){
	.header-partneri-mobile {
		display:-webkit-box!important;
		-webkit-box-pack:center!important;
		justify-content:center!important;

	}
	.header-partneri-mobile-padding{
		padding-left:0;
		padding-right:0;
		margin: 5px 0;
	}
	
	.pdf-sporedni{
		padding-left:35px;
	}
}*/



@media only screen and (min-width: 1600px){
	.slider-tekst{
		top: 235px;
		margin-left: 225px;
	}
}

@media only screen and (max-width: 1599px){
	.slider-tekst{
		top: 170px;
		margin-left: 225px;
	}
	
}



@media only screen and (max-width: 1199px){
	.tekstNaslovna{
		font-size:18.7px;
	}

  .header-partneri-mobile {
    flex-wrap: nowrap;
  }

  #headerIconSecondRow{
    padding-left: 40px;
  }
  
  .footerpadding{
	  padding-bottom:0;
  }
  

}


@media only screen and (max-width: 1300px){
	.slider-tekst{
		top: 100px;
		margin-left: 225px;
	}
}


@media only screen and (max-width: 991px){
	.tekstNaslovna{
		font-size:16.7px;
		padding-left: 15px;
	}

	.ispod-slidera-naslov{
		font-size:20px;
	}

	#novosti{
		height:80px;
	}

  .slider-tekst{
    top:55px;
	font-size: 20px;
  }

  #novosti img{
	width: 24px;
	padding-top:3px;
  }

}

@media only screen and (max-width: 899px){
	.backgroundBodyImg {
		background-size: 117px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.footericon img{
		height: 116px!important;
	}
	
	body:not(.theme-preset-active) #masthead .navbar-nav > li > a{
		margin-left:29px!important;
	}
}


@media only screen and (max-width: 767px){
	#masthead{
		padding-bottom:0px!important;
	}

	.header-partneri-mobile {
		display:-webkit-box!important;
		-webkit-box-pack:center!important;
		justify-content:center!important;
	}

	.header-partneri-mobile-padding{
		margin: 5px 0;
	}

	.headericon{
		padding-top:5px;
		padding-bottom:5px;
	}

	.headericon a{
		display:block;
		width:100%;
	}

	.headericon img{
		display:block;
		margin: 0 auto;
	}

	.footericon{
		padding-left:10px;
		padding-top:15px;
	}

	.footer-container-mobile{
		flex-direction: row;
		flex-wrap: wrap;
		-webkit-box-pack: center!important;
		-ms-flex-pack: center!important;
		justify-content: center!important;
	}

	.topborder{
		border:0;
	}

	.hamburger-mobile{
		display:block;
		width:100%;
		position: absolute;
		top: 42px;
		right: 0px;
		z-index: 9;
	}

	.hamburger-menu{
		margin-top: 27px;
		float:left;
		padding-left: 0;
		padding-right: 0;
	}

	.hamburger-drop{
		border-top: 3px solid #e04876;
		background-color: #516b82;
	}

	.mobile-size-img{
		max-width:80%;
	}

	.mobile-size-img-eu{
		max-width:60%;
	}

	.tekstNaslovna{
		font-size:14.7px;
	}

	#headerIconSecondRow{
		padding-left: 80px;
	}

	.novostiPostLI{
		display:block;
	}

	#novosti{
	  height: 65px;
	}
	
	#novosti img{
		width: 21px;
		padding-top:0;
	}

	.ikona-banner{
		padding: 0px;
		padding-left:0;
		max-width: 100%;
	}

	.ispod-slidera-naslov{
		font-size: 17px;
	}

	.slider-tekst{
		top:40px;
		margin-left: 116px;
		font-size: 16px;
	}

	.slider-button{
		font-size: 16px;
	}

	.novostiPageList{
		padding-bottom: 0;
	}

	.projekt-container{
		padding-left: 15px;
		padding-right: 0;
	}

	.abeceda-logo{
		max-width: 290px;
	}

	.projektBottomContent{
		-webkit-box-pack: center!important;
		-ms-flex-pack: center!important;
		justify-content: center!important;
	}
	

	.post-navigation .nav-previous a,
	.post-navigation .nav-next a {
		font-size: 13px;
	}
  
	a.nav-link {
		padding: 3px!important;
		border-top: 0!important;
	}
	
	.footerpadding{
	  padding-bottom:10px;
	}
}

@media only screen and (max-width: 575px){
	.pdf-sporedni{
		padding-left:120px;
	}
}


@media only screen and (max-width: 537px){
	.footer-container-mobile{
		flex-direction: column;
	}

	.footericon{
		padding-left:0;
		margin-bottom: 15px;
	}

	.tekstNaslovna{
		font-size:11.7px;
	}
	.ikona-banner{
		padding: 0px;
	}

	#contentID{
		padding-right:15px;
	}

	.press-stupac{
		padding-left:0;
		padding-right:0;
	}

	.novostiPost{
		margin-bottom:25px;
	}

	.slider-tekst{
		top:40px;
		margin-left: 80px;
		font-size: 12px;
	}

	.slider-button{
		font-size: 12px;
		padding:6px 15px 6px 15px
	}

	.projekt-container{
		padding-left: 0;
		padding-right: 0;
	}

	.artikal-razmak{
		margin-bottom: 55px;
	}

	.clanak-naslov-margin{
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.slick-prev, .slick-next{
		width:25px;
		height: auto;
	}
	
	
}


@media only screen and (max-width: 500px){
	.hamburger-mobile{
		top: 31px;
	}
  
	.hamburger-menu{
		margin-top: 24px;
	}

	.abeceda-logo{
		max-width: 250px;
	}

	#novosti {
		height: 50px;
	}
}

@media only screen and (max-width: 450px){
	.pdf-sporedni{
		padding-left:70px;
	}
}

@media only screen and (max-width: 400px){
	.slider-tekst{
		top:5px;
		margin-left: 58px;
		font-size: 12px;
		max-width: 200px;
	}

	.slider-button{
		font-size: 10px;
		padding:6px 15px 6px 15px
	}

	.hamburger-mobile{
		top: 22px;
	}
  
	.hamburger-menu{
		margin-top: 14px;
	}

	.content-area{
		padding-left:0;
		padding-right:0;
	}

	.abeceda-logo{
		max-width: 195px;
	}

	.slick-prev, .slick-next{
		width:20px;
		height: auto;
	}
	
	.ispod-slidera-naslov{
		font-size:14px;
	}
	
	#novosti img{
		width: 17px;
	}
}

@media only screen and (max-width: 360px){
	.header-partneri-mobile {
		display:-webkit-box!important;
		-webkit-box-pack:center!important;
		justify-content:center!important;

	}
	
	.header-partneri-mobile-padding{
		padding-left:0;
		padding-right:0;
		margin: 5px 0;
	}
	
	.pdf-sporedni{
		padding-left:35px;
	}
}



@media only screen and (max-width: 767px){
	.backgroundBodyImg {
        background-image: none !important;
	}

  body:not(.theme-preset-active) #masthead .navbar-nav > li.current_page_item > a {
    border-top: 0 !important;
    color: #e04876!important;
    font-weight: 600;
    /*background: #f9f9f9;*/
  }

  body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
    color: white!important;
    margin: 0 auto!important;
    padding-left: 0 !important;
    font-weight: 400!important;
  }

  .navbar-nav{
    align-items: center!important;
    padding-bottom: 10px;

  }
}


@media only screen and (min-width: 900px){
	.backgroundBodyImg {
        background-size: 141px;
	}

	.tekstNaslovna{
		font-size:
	}
}


@media only screen and (min-width: 1200px){
	.backgroundBodyImg {
        background-size: 167px;
	}
}

@media only screen and (min-width: 1400px){
	.backgroundBodyImg {
        background-size: 215px;
	}
}

@media only screen and (min-width: 1640px){
	.backgroundBodyImg {
        background-size: 280px;
	}
}

@media only screen and (min-width: 1800px){
	.backgroundBodyImg {
		background-size: 360px;
	}
}



audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 2.5rem;
}

hr {
  box-sizing: content-box;
  height: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #24292e;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 15px;
}
h1 {
  font-size: 32px;
  padding-bottom: 10px;
}
h2 {
  font-size: 24px;
  padding-bottom: 0.3em;
  line-height: 1.25;
}
h3 {
  font-size: 18px;
  line-height: 25px;
}
h4 {
  font-size: 16px;
  line-height: 20px;
}
h5 {
  font-size: 14px;
  line-height: 17.5px;
}

p {
  margin-bottom: 1.5em;
}
h1.entry-title {
  font-size: 21px;
  border-bottom: 1px solid #eaecef;
}
h2.entry-title {
  border-bottom: 1px solid #eaecef;
}
h3.widget-title {
  font-size: 1.2rem;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  background: #fff!important;
  /* Fallback for when there is no custom background color defined. */

}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
header#masthead {
  margin-bottom: 0;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  padding: .74rem 0px;
}

.navbar-brand > a {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.1rem;
  outline: medium none;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.navbar-brand > a:visited, .navbar-brand > a:hover {
  text-decoration: none;
}

#page-sub-header {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 0;
  text-align: center;
  font-size: 1.25rem;
  background-size: cover !important;
}

body:not(.theme-preset-active) #page-sub-header h1 {
  line-height: 1.6;
  font-size: 4rem;
  color: #563e7c;
  margin: 0 0 1rem;
  border: 0;
  padding: 0;
}

#page-sub-header p {
  margin-bottom: 0;
  line-height: 1.4;
  font-size: 1.25rem;
  font-weight: 300;
}
body:not(.theme-preset-active) #page-sub-header p {
color: #212529;
}
a.page-scroller {
  color: #333;
  font-size: 2.6rem;
  display: inline-block;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  body:not(.theme-preset-active) #page-sub-header h1 {
    font-size: 3.750rem;
  }
  body:not(.theme-preset-active) #page-sub-header {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 992px) {
  #page-sub-header p {
    max-width: 43rem;
    margin: 0 auto;
  }
}
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#masthead nav {
  padding-left: 0;
  padding-right: 0;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
  color: #000000;
  padding: 0.5rem;
  padding-bottom: 0px;
  font-weight: 500;
  font-size: 18px;
  margin-left:67px;
  margin-right:0px;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a:hover,
body:not(.theme-preset-active) #masthead .navbar-nav > li.current_page_item > a {
  border-top: 3px solid #e04876;
  padding-top:5px;
  font-weight: 600;
  /*background: #f9f9f9;*/
}




.navbar-brand {
  height: auto;
}

.navbar-toggle .icon-bar {
  background: #000 none repeat scroll 0 0;
}

.dropdown-menu .dropdown-toggle::after {
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
  border-top: 0.3em solid transparent;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.dropdown-item {
  line-height: 1.2;
  padding-bottom: 0.313rem;
  padding-top: 0.313rem;
}

.dropdown-menu {
  min-width: 12.500rem;
}

.dropdown .open .dropdown-menu {
  display: block;
  left: 12.250em;
  top: 0;
}

.dropdown-menu .dropdown-item {
  white-space: normal;
  font-size: 14px;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .dropdown-menu li > .dropdown-menu {
    right: -9.875rem;
    top: 1.375rem;
  }
}
@media screen and (max-width: 991px) {
  .dropdown-menu {
    border: medium none;
    margin-left: 1.250rem;
    padding: 0;
  }

  .dropdown-menu li a {
    padding: 0;
  }

  #masthead .navbar-nav > li > a {
    padding-bottom: 0.625rem;
    padding-top: 0.313rem;
  }

  .navbar-light .navbar-toggler {
    border: medium none;
    outline: none;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
.comment-content.card-block {
  padding: 20px;
}

.navigation.post-navigation {
  padding-top: 1.875rem;
}

.post-navigation .nav-previous a,
.post-navigation .nav-next a {
  border: 1px solid #ddd;
  border-radius: 0.938rem;
  display: inline-block;
  padding: 0.313rem 0.875rem;
  text-decoration: none;
}

.post-navigation .nav-next a::after {
  content: " \2192";
}

.post-navigation .nav-previous a::before {
  content: "\2190 ";
}

.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover {
  background: #eee none repeat scroll 0 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 0.313rem;
  line-height: normal;
  padding: 0.938rem 1.438rem 0.875rem;
  text-decoration: none;
  top: 0.313rem;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a img.alignright {
  float: right;
  margin: 0.313rem 0 1.25rem 1.25rem;
}

a img.alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img.alignleft {
  float: left;
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption.alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption.alignleft {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption.alignright {
  margin: 0.313rem 0 1.25rem 1.25rem;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  font-size: 14px;
  /* Make sure select elements fit in widgets. */
}
.widget select {
  max-width: 100%;
}

.widget_search .search-form input[type="submit"] {
  display: none;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #eee;
  text-decoration: none;
}
.half-rule {
  width: 6rem;
  margin: 2.5rem 0;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
#content.site-content {
  padding-bottom: 0px;
  padding-top: 0px;
}

.sticky .entry-title::before {
  content: '\f08d';
  font-family: fontawesome;
  font-size: 1.563rem;
  left: -2.5rem;
  position: absolute;
  top: 0.375rem;
}

.sticky .entry-title {
  position: relative;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.page-template-blank-page .entry-content,
.blank-page-with-container .entry-content {
  margin-top: 0;
}

.post.hentry {
  margin-bottom: 4rem;
}

.posted-on, .byline, .comments-link {
  color: #9a9a9a;
}

.entry-title > a {
  color: inherit;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comment-body .pull-left {
  padding-right: 0.625rem;
}

.comment-list .comment {
  display: block;
}

.comment-list {
  padding-left: 0;
}

.comments-title {
  font-size: 1.125rem;
}

.comment-list .pingback {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.563rem 0;
}

.comment-list .pingback:first-child {
  border: medium none;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  background: #f1f1f1 none repeat scroll 0 0;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 0.313rem 0.313rem 0;
  text-align: center;
}
.wp-caption img[class*="wp-image-"] {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text {
  font-size: 0.688rem;
  line-height: 1.063rem;
  margin: 0;
  padding: 0.625rem;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-item .gallery-columns-2 {
  max-width: 50%;
}
.gallery-item .gallery-columns-3 {
  max-width: 33.33333%;
}
.gallery-item .gallery-columns-4 {
  max-width: 25%;
}
.gallery-item .gallery-columns-5 {
  max-width: 20%;
}
.gallery-item .gallery-columns-6 {
  max-width: 16.66667%;
}
.gallery-item .gallery-columns-7 {
  max-width: 14.28571%;
}
.gallery-item .gallery-columns-8 {
  max-width: 12.5%;
}
.gallery-item .gallery-columns-9 {
  max-width: 11.11111%;
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugin Compatibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Woocommerce
--------------------------------------------------------------*/
.woocommerce-cart-form .shop_table .coupon .input-text {
  width: 8.313rem !important;
}

.variations_form .variations .value > select {
  margin-bottom: 0.625rem;
}

.woocommerce-MyAccount-content .col-1,
.woocommerce-MyAccount-content .col-2 {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
.elementor-page article .entry-footer {
  display: none;
}

.elementor-page.page-template-fullwidth #content.site-content {
  padding-bottom: 0;
  padding-top: 0;
}

.elementor-page .entry-content {
  margin-top: 0;
}

/*--------------------------------------------------------------
## Visual Composer
--------------------------------------------------------------*/
.vc_desktop article .entry-footer {
  display: none;
}

.vc_desktop #content.site-content {
  padding-bottom: 0;
  padding-top: 0;
}

.vc_desktop .entry-content {
  margin-top: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer#colophon {
  font-size: 85%;
}
body:not(.theme-preset-active) footer#colophon {
  color: #99979c;
  background-color: #f7f7f7;
}

.copyright {
  font-size: 0.875rem;
  margin-bottom: 0;
  text-align: center;
}

.copyright a, footer#colophon a {
  color: inherit;
}

@media screen and (max-width: 767px) {
  #masthead .navbar-nav > li > a {
    padding-bottom: 0.938rem;
    padding-top: 0.938rem;
  }
}
/*--------------------------------------------------------------
# Media Query
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Notebook
--------------------------------------------------------------*/
@media only screen and (max-width: 1280px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 1199px) {
  .navbar-dark .dropdown-item {
    color: #fff;
  }
  .dropdown-menu {
    background: transparent;
    box-shadow: none;
    border: none;
  }
}
/*--------------------------------------------------------------
## Netbook
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  html {
    font-size: 93%;
  }
}
/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 960px) {
  html {
    font-size: 90%;
  }
}
/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  html {
    font-size: 88%;
  }
}
/*--------------------------------------------------------------
## iPad
--------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  html {
    font-size: 86%;
  }
}
